.product-infos-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4;
  margin-top: 4vh;
}

.box-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}

.breadcrumbs-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

/* .breadcrumbs-icon {
  margin-right: 0.5;
  width: auto;
  height: 20;
} */

.product-image {
  display: flex;
  flex: "1 1 300px";
  justify-content: center;

  width: max-content;
  padding: 10px;
  margin-right: 4vh;

  background-color: var(--light-grey);
  background-size: max-content;
}

.product-infos-box {
  display: flex;
  flex: 2 1 400px;
  flex-direction: column;
  gap: 2;
  max-width: 50%;
}

.reviews-box {
  margin-top: 5%;
  background-color: var(--light-grey);
  padding: 10px;
  width: 90%;
}

@media (max-width: 768px) {
  .product-infos-box {
    max-width: 90%;
  }
}
