.product-detail-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.box-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.logo-rakuten {
  width: 20vh;
  height: auto;
  margin-right: 2;
  margin-bottom: 2vh;
}

.breadcrumbs-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.breadcrumbs-icon {
  margin-right: 0.5;
  width: auto;
  height: 20;
}

.product-infos-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4;
  margin-top: 4vh;
}

.product-image {
  display: flex;
  flex: "1 1 300px";
  justify-content: center;

  width: max-content;
  padding: 10px;
  margin-right: 4vh;

  background-color: var(--light-grey);
  background-size: max-content;
}

.product-infos-box {
  display: flex;
  flex: 2 1 400px;
  flex-direction: column;
  gap: 2;
  max-width: 50%;
}

.product-footer {
  width: 100%;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 2%;
  padding: 5px;
  background-color: var(--light-grey);
}

@media (max-width: 768px) {
  .product-infos-box {
    max-width: 90%;
  }
}
